SilverlightApplication/SilverlightApplication/Service References/EmpleadosServiceReference/EmpleadosService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tareabases.cloudapp.net/EmpleadosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" />
  <xs:element name="agregarNuevoEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="nuevoEmpleado" nillable="true" type="q1:empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarNuevoEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarNuevoEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empleadoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEmpleado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="nuevoEmpleado" nillable="true" type="q2:empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarEmpleadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarEmpleadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpleados">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpleadosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="getEmpleadosResult" nillable="true" type="q3:ArrayOfempleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpleadosDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="buscarEmpleado" nillable="true" type="q4:empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEmpleadosDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="getEmpleadosDepartamentoResult" nillable="true" type="q5:ArrayOfempleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>