SilverlightApplication/SilverlightApplication/Service References/DepartamentosServiceReference/DepartamentosService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tareabases.cloudapp.net/DepartamentosService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" />
  <xs:element name="agregarNuevoDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="nuevoDepartamento" nillable="true" type="q1:departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarNuevoDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarNuevoDepartamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departamentoID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarDepartamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="nuevoDepartamento" nillable="true" type="q2:departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarDepartamentoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="getDepartamentosResult" nillable="true" type="q3:ArrayOfdepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepto" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDepartamentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="getDepartamentoResult" nillable="true" type="q4:departamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadisticas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEstadisticasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TareaServiceWebRole" minOccurs="0" name="getEstadisticasResult" nillable="true" type="q5:ArrayOfdepartamento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>